<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [1]:
my_string1 = 'Welcome to'
my_string2 = "my crib :)"
print(my_string1 + ' ' + my_string2)

Welcome to my crib :)

An integer is a round number with no values after the decimal point.

In [2]:
my_int = 10
print(my_int)
print(type(my_int))

10
<class 'int'>

The built-in function int() can convert a string into an integer.

In [3]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))
##str()
print(type(str(my_int)))

<class 'str'>
<class 'int'>
<class 'str'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [4]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))
flo=3.54
print(type(flo))
#
print(int(flo))

<class 'float'>
<class 'float'>
3

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [5]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [6]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [7]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [8]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect']

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n âˆ’ 1. By the way, the length of a list can be obtained by the built-in function len().

In [9]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [10]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

A list can also be sliced with a colon:

In [11]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:3])

['Connect', 1]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [12]:
print(my_list[1:])
# 
print(my_list[-1:])

['Connect', 1, 2, 3]
[3]

And all elements up to but excluding index 3:

In [13]:
print(my_list[:3])

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [14]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [15]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [16]:
my_tuple = ('Welcome','to','My Git')

Just like a list, a tuple can be sliced by using index.

In [17]:
my_tuple = ('Welcome','to','My tuple')
print(my_tuple[1:])

('to', 'My tuple')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [18]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)
# un set es algo nuevo, no tiene elementos duplicados 
print(set([2,2,2,2,2,2,3,1,1]))

{'IBM', 'FB', 'F', 'GOOG', 'AAPL'}
{1, 2, 3}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [19]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [20]:
print(my_dic['GOOG'])

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [21]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [22]:
print(my_dic.keys())
#tambiÃ©n se puede con values :)
print(my_dic.values())

dict_keys(['AAPL', 'FB', 'GOOG'])
dict_values(['AAPLE', 'FaceBook', 'Alphabet Company'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [23]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [24]:
print('Counting the number of e appears in this sentence'.count('e'))
print('The first time e appears in this sentence'.find('e'))
print('all the a in this sentence now becomes e'.replace('a','e'))

7
2
ell the e in this sentence now becomes e

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [25]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
# tambien se puede asÃ­
[dia, tiempo] =  Time.split(' ')
#date = splited_list[0]
#time = splited_list[1]
print(dia, tiempo)
hour = tiempo.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [26]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [27]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [28]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)

False
True
True
True
False

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [29]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [30]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [31]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [32]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [33]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [34]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [35]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [36]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [37]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [38]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [39]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)
#
print([x**3 for x in list])

[1, 4, 9, 16, 25]
[1, 8, 27, 64, 125]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [40]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [41]:
#me confunde un poco cuando hago 2 
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [42]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [43]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [44]:
print(range(10))
print(range(1,11))
print(range(1,11,2))

range(0, 10)
range(1, 11)
range(1, 11, 2)

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [45]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [46]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [47]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [48]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))

[4, 4, 3, 2, 1, 1, 1, 2]

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [49]:
list(map(lambda x: x**2, range(10)))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

map() can be applied to more than one list. The lists have to have the same length.

In [50]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [51]:
sorted([5,2,3,4,1])
#
print(sorted(set([5,2,3,4,1, 5])))

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [52]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])
#

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [53]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1],reverse = True)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [54]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)
#es list_sort => modifica actual lista
#sorted=> crea otra

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [55]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [56]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [57]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [58]:
#no sabÃ­a que se pueden agregar atributos
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [59]:
dir(apple)
# :o 
sorted(dir(apple))

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'ceo',
 'close',
 'open',
 'print_return',
 'rate_return',
 'ticker',
 'update',
 'volume']

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [60]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [61]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [62]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [63]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [64]:
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [65]:
print(Ar.shape)

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [66]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [67]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [68]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [69]:
print(np.mean(price_array))
#np.std => standard deviation
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [70]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [71]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
s

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64

We can customize the indices of a new Series:

In [72]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
s

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [73]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [74]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [75]:
print(s[4])
s[4] = 0
print(s)

143.68
6    143.73
5    145.83
4      0.00
3    144.02
2    143.50
1    142.62
dtype: float64

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [76]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [77]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [78]:
time_index = pd.date_range('2017-01-01',periods = len(s),freq = 'D')
print(time_index)
s.index = time_index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06'],
              dtype='datetime64[ns]', freq='D')

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [79]:
s.index = [6,5,4,3,2,1]
print(s)
print(s[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [80]:
print(s.iloc[1])
# cuando uses pd.Series a
# a[1] es el index 1
# a.iloc[1] es para la posiciÃ³n 1 (index 2)

145.83

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [81]:
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [82]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [83]:
#esto no lo sabÃ­a 
print(s[s < np.mean(s)] )
#aquÃ­ printea los elementos que cumplan la condiciÃ³n
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])
#aquÃ­ los bool de cada elemento

#
print(np.mean(s))
print([np.std(s) > 0.0002])

2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]
143.89666666666668
[True]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [84]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 62 kB 1.2 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [85]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 171.52, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.76, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.406, 'beta3Year': None, 'enterpriseToEbitda': 22.154, '52WeekChange': 0.14568162, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59711, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.04, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.056043804, 'priceToBook': 47.512466, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2870181363712, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 7.1126842, 'dateShortInterest': 1659052800, 'pegRatio': 3.01, 'ytdReturn': None, 'forwardPE': 26.633541, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 174.15, 'regularMarketOpen': 173.03, 'twoHundredDayAverage': 160.461, 'trailingAnnualDividendYield': 0.005110537, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 173.74, 'navPrice': None, 'averageDailyVolume10Day': 64119090, 'regularMarketPreviousClose': 174.15, 'fiftyDayAverage': 151.3188, 'trailingAnnualDividendRate': 0.89, 'open': 173.03, 'toCurrency': None, 'averageVolume10days': 64119090, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 171.3101, 'currency': 'USD', 'trailingPE': 28.397352, 'regularMarketVolume': 70346295, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2756463820800, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76763275, 'dayLow': 171.3101, 'ask': 170.85, 'askSize': 900, 'volume': 70346295, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 170.7, 'tradeable': False, 'dividendYield': 0.0053, 'bidSize': 900, 'dayHigh': 173.74, 'coinMarketCapLink': None, 'regularMarketPrice': 171.52, 'preMarketPrice': 173.31, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.0943}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523343,24.156073,23.383500,24.151487,270597600,0.0,0
2016-01-05,24.243195,24.266119,23.477500,23.546274,223164000,0.0,0
2016-01-06,23.053387,23.468331,22.895205,23.085482,273829600,0.0,0
2016-01-07,22.622404,22.954816,22.106591,22.111176,324377600,0.0,0
2016-01-08,22.592595,22.720974,22.182237,22.228086,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594680,41.770890,41.551820,41.673260,65397600,0.0,0
2017-12-26,40.670775,40.830315,40.404079,40.616009,132742000,0.0,0
2017-12-27,40.504086,40.666006,40.411220,40.623146,85992800,0.0,0
2017-12-28,40.718396,40.920799,40.594573,40.737446,65920800,0.0,0
2017-12-29,40.604100,40.620767,40.294545,40.296925,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [86]:
aapl = aapl_table['Close']['2017']
#sacas los el atributo close que le sirve, desde el 2017
aapl_dec = aapl_table['Volume']['2017-12']

In [87]:
print(aapl)

Date
2017-01-03    27.219835
2017-01-04    27.189367
2017-01-05    27.327635
2017-01-06    27.632292
2017-01-09    27.885389
                ...
2017-12-22    41.673260
2017-12-26    40.616009
2017-12-27    40.623146
2017-12-28    40.737446
2017-12-29    40.296925
Name: Close, Length: 251, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [88]:
print(aapl_dec)

Date
2017-12-01    159037200
2017-12-04    130169600
2017-12-05    109400800
2017-12-06    114240000
2017-12-07    102693200
2017-12-08     93420800
2017-12-11    141095200
2017-12-12     77636800
2017-12-13     95273600
2017-12-14     81906000
2017-12-15    160677200
2017-12-18    117684400
2017-12-19    109745600
2017-12-20     93902400
2017-12-21     83799600
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

In [89]:
print(aapl['2017-3'])

Date
2017-03-01    32.901917
2017-03-02    32.706570
2017-03-03    32.899559
2017-03-06    32.796009
2017-03-07    32.838371
2017-03-08    32.715981
2017-03-09    32.640659
2017-03-10    32.748928
2017-03-13    32.763050
2017-03-14    32.713619
2017-03-15    33.059616
2017-03-16    33.113758
2017-03-17    32.948982
2017-03-20    33.294975
2017-03-21    32.913689
2017-03-22    33.285561
2017-03-23    33.167881
2017-03-24    33.101978
2017-03-27    33.158470
2017-03-28    33.845741
2017-03-29    33.921051
2017-03-30    33.876339
2017-03-31    33.812786
Name: Close, dtype: float64

In [90]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.172653
2017-02-02    30.121101
2017-02-03    30.249985
2017-02-06    30.533554
2017-02-07    30.824141
                ...
2017-04-24    33.808086
2017-04-25    34.017548
2017-04-26    33.817493
2017-04-27    33.843388
2017-04-28    33.810429
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [91]:
print(aapl.head(5))
print(aapl.tail(10))

Date
2017-01-03    27.219835
2017-01-04    27.189367
2017-01-05    27.327635
2017-01-06    27.632292
2017-01-09    27.885389
Name: Close, dtype: float64
Date
2017-12-15    41.425613
2017-12-18    42.009003
2017-12-19    41.561337
2017-12-20    41.516098
2017-12-21    41.673260
2017-12-22    41.673260
2017-12-26    40.616009
2017-12-27    40.623146
2017-12-28    40.737446
2017-12-29    40.296925
Name: Close, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [92]:
by_month = aapl.resample('M').mean()
print(by_month)
# bastante Ãºtil
print(aapl_table.resample('Y').mean())

Date
2017-01-31    28.021312
2017-02-28    31.430154
2017-03-31    33.096760
2017-04-30    33.630811
2017-05-31    35.924381
2017-06-30    34.938203
2017-07-31    35.048844
2017-08-31    37.686051
2017-09-30    37.395193
2017-10-31    37.444727
2017-11-30    41.004146
2017-12-31    40.930680
Freq: M, Name: Close, dtype: float64
                 Open       High        Low      Close        Volume  \
Date
2016-12-31  24.255716  24.468937  24.066300  24.278157  1.536901e+08
2017-12-31  35.576407  35.803662  35.349825  35.601321  1.085383e+08

            Dividends  Stock Splits
Date
2016-12-31   0.002212           0.0
2017-12-31   0.002450           0.0

We can also aggregate the data by week:

In [93]:
by_week = aapl.resample('W').mean()
print(by_week.head())

Date
2017-01-08    27.342282
2017-01-15    27.941165
2017-01-22    28.108607
2017-01-29    28.394868
2017-02-05    29.497253
Freq: W-SUN, Name: Close, dtype: float64

We can also aggregate the data by month with max:

In [94]:
aapl.resample('M').max()

Date
2017-01-31    28.579069
2017-02-28    32.271141
2017-03-31    33.921051
2017-04-30    34.074043
2017-05-31    36.892406
2017-06-30    36.738785
2017-07-31    36.268471
2017-08-31    38.911682
2017-09-30    38.923546
2017-10-31    40.107502
2017-11-30    41.815811
2017-12-31    42.009003
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [122]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()
#por intervalos puedes resamplear por frecuencias

print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.245612
2017-01-06    27.632292
2017-01-09    27.954133
2017-01-12    27.921713
2017-01-15    28.122084
                ...
2017-12-17    41.785170
2017-12-20    41.620872
2017-12-23          NaN
2017-12-26    40.658867
2017-12-29    40.296925
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.342282
2017-01-22    28.015583
2017-02-05    28.946061
2017-02-19    31.341191
2017-03-05    32.413925
2017-03-19    32.833897
2017-04-02    33.437847
2017-04-16    33.661109
2017-04-30    33.603543
2017-05-14    35.498714
2017-05-28    36.292810
2017-06-11    36.311531
2017-06-25    34.336635
2017-07-09    34.074195
2017-07-23    35.082288
2017-08-06    36.070650
2017-08-20    37.692903
2017-09-03    38.244488
2017-09-17    38.069386
2017-10-01    36.635585
2017-10-15    36.865020
2017-10-29    37.546925
2017-11-12    40.803591
2017-11-26    40.974773
2017-12-10    40.639339
2017-12-24    41.388942
2018-01-07    40.568381
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.021312
2017-03-31    32.342820
2017-05-31    34.861507
2017-07-31    34.990889
2017-09-30    37.550768
2017-11-30    39.183048
2018-01-31    40.930680
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [96]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.202234
2017-01-15    0.072124
2017-01-22    0.025415
2017-01-29    0.243921
2017-02-05    0.938006
2017-02-12    0.250594
2017-02-19    0.230105
2017-02-26    0.059014
2017-03-05    0.338196
2017-03-12    0.075862
2017-03-19    0.176848
2017-03-26    0.156384
2017-04-02    0.318024
2017-04-09    0.127970
2017-04-16    0.211292
2017-04-23    0.173699
2017-04-30    0.089519
2017-05-07    0.234324
2017-05-14    0.351014
2017-05-21    0.533104
2017-05-28    0.060054
2017-06-04    0.279659
2017-06-11    0.616581
2017-06-18    0.380430
2017-06-25    0.128177
2017-07-02    0.262638
2017-07-09    0.158005
2017-07-16    0.402030
2017-07-23    0.124292
2017-07-30    0.382299
2017-08-06    0.919237
2017-08-13    0.464862
2017-08-20    0.432828
2017-08-27    0.274233
2017-09-03    0.250324
2017-09-10    0.379515
2017-09-17    0.292498
2017-09-24    0.731094
2017-10-01    0.352870
2017-10-08    0.203715
2017-10-15    0.118070
2017-10-22    0.514117
2017-10-29    0.676662
2017-11-05    0.557557
2017-11-12    0.189901
2017-11-19    0.433766
2017-11-26    0.559908
2017-12-03    0.425064
2017-12-10    0.072720
2017-12-17    0.204122
2017-12-24    0.193042
2017-12-31    0.189331
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.632292
2017-01-15    28.063494
2017-01-22    28.122084
2017-01-29    28.579069
2017-02-05    30.249985
2017-02-12    31.167253
2017-02-19    31.943966
2017-02-26    32.271141
2017-03-05    32.901917
2017-03-12    32.838371
2017-03-19    33.113758
2017-03-26    33.294975
2017-04-02    33.921051
2017-04-09    34.074043
2017-04-16    33.697456
2017-04-23    33.525642
2017-04-30    34.017548
2017-05-07    35.060230
2017-05-14    36.892406
2017-05-21    36.797859
2017-05-28    36.393730
2017-06-04    36.738785
2017-06-11    36.719872
2017-06-18    34.644814
2017-06-25    34.585743
2017-07-02    34.465202
2017-07-09    34.075249
2017-07-16    35.223854
2017-07-23    35.691803
2017-07-30    36.268471
2017-08-06    37.138187
2017-08-13    38.064640
2017-08-20    38.342243
2017-08-27    37.957863
2017-09-03    38.923546
2017-09-10    38.456131
2017-09-17    38.318516
2017-09-24    37.661293
2017-10-01    36.593586
2017-10-08    36.868824
2017-10-15    37.248440
2017-10-22    38.074135
2017-10-29    38.686275
2017-11-05    40.928440
2017-11-12    41.815811
2017-11-19    41.425613
2017-11-26    41.663734
2017-12-03    41.454185
2017-12-10    40.432655
2017-12-17    41.425613
2017-12-24    42.009003
2017-12-31    40.737446
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.189367
2017-01-15    27.885389
2017-01-22    28.070520
2017-01-29    28.115055
2017-02-05    28.438454
2017-02-12    30.533554
2017-02-19    31.372023
2017-02-26    32.134632
2017-03-05    32.228767
2017-03-12    32.640659
2017-03-19    32.713619
2017-03-26    32.913689
2017-04-02    33.158470
2017-04-09    33.737473
2017-04-16    33.198479
2017-04-23    33.111393
2017-04-30    33.808086
2017-05-07    34.488293
2017-05-14    36.013466
2017-05-21    35.509823
2017-05-28    36.240108
2017-06-04    36.103031
2017-06-11    35.209667
2017-06-18    33.623844
2017-06-25    34.271404
2017-07-02    33.957073
2017-07-09    33.732555
2017-07-16    34.283226
2017-07-23    35.346748
2017-07-30    35.332569
2017-08-06    35.150589
2017-08-13    36.852215
2017-08-20    37.369442
2017-08-27    37.300636
2017-09-03    38.311394
2017-09-10    37.637558
2017-09-17    37.554523
2017-09-24    36.038395
2017-10-01    35.720440
2017-10-08    36.415638
2017-10-15    36.975586
2017-10-22    37.008804
2017-10-29    37.053886
2017-11-05    39.557045
2017-11-12    41.343666
2017-11-19    40.261215
2017-11-26    40.475517
2017-12-03    40.356453
2017-12-10    40.244545
2017-12-17    40.885078
2017-12-24    41.516098
2017-12-31    40.296925
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [97]:
last_day = aapl.resample('M').agg(lambda x: x[-1])
#toma el ultimo dia de cada mes con x[-1]
print(last_day)

Date
2017-01-31    28.438454
2017-02-28    32.242889
2017-03-31    33.812786
2017-04-30    33.810429
2017-05-31    36.103031
2017-06-30    34.037441
2017-07-31    35.150589
2017-08-31    38.911682
2017-09-30    36.567486
2017-10-31    40.107502
2017-11-30    40.920803
2017-12-31    40.296925
Freq: M, Name: Close, dtype: float64

In [128]:
year_day = aapl.resample('Y').agg(lambda x: x.mean())
year_day2 = aapl.resample('Y').mean()
# deberÃ­a ser igual 
print(year_day == year_day2)

Date
2017-12-31    True
Freq: A-DEC, Name: Close, dtype: bool

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [129]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044769
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [130]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.026863329026177357
0.05225850140713987
0.09901829958315678

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [100]:
#diff:diferencia pct_change: porcentual change, Ãºtil
print(last_day.diff())
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.804436
2017-03-31    1.569897
2017-04-30   -0.002357
2017-05-31    2.292603
2017-06-30   -2.065590
2017-07-31    1.113148
2017-08-31    3.761093
2017-09-30   -2.344196
2017-10-31    3.540016
2017-11-30    0.813301
2017-12-31   -0.623878
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [131]:
daily_return = last_day.pct_change()
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [102]:
daily_return = last_day.pct_change()
#no conocÃ­a que existe un mÃ©todo de relleno distinto a un  nÃºmero en concreto  (0) por lo general
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [103]:
daily_return = last_day.pct_change()
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067808
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [104]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [105]:
df = aapl_table
print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.673260
2017-12-26    40.616009
2017-12-27    40.623146
2017-12-28    40.737446
2017-12-29    40.296925
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [106]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203  257666000        0.0
2016-02-29  22.325646  22.641424  22.277243  22.286463  140865200        0.0
2016-03-31  25.289809  25.331298  25.096193  25.121548  103553600        0.0
2016-04-30  21.664134  21.832395  21.323003  21.606510  274126000        0.0
2016-05-31  23.096980  23.282499  22.916101  23.157274  169228800        0.0
2016-06-30  21.900390  22.208812  21.867924  22.169390  143345600        0.0
2016-07-31  24.161388  24.244871  24.043120  24.166025  110934800        0.0
2016-08-31  24.635016  24.847185  24.630352  24.737602  118649600        0.0
2016-09-30  26.220455  26.432626  26.066575  26.358017  145516400        0.0
2016-10-31  26.497914  26.633144  26.392994  26.472267  105677600        0.0
2016-11-30  26.153536  26.294146  25.841849  25.900436  144649200        0.0
2016-12-31  27.337010  27.465901  27.051101  27.142498  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

We may select certain columns of a DataFrame using their names:

In [107]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)

                 Open       High        Low      Close
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203
2016-02-29  22.325646  22.641424  22.277243  22.286463
2016-03-31  25.289809  25.331298  25.096193  25.121548
2016-04-30  21.664134  21.832395  21.323003  21.606510
2016-05-31  23.096980  23.282499  22.916101  23.157274
2016-06-30  21.900390  22.208812  21.867924  22.169390
2016-07-31  24.161388  24.244871  24.043120  24.166025
2016-08-31  24.635016  24.847185  24.630352  24.737602
2016-09-30  26.220455  26.432626  26.066575  26.358017
2016-10-31  26.497914  26.633144  26.392994  26.472267
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [108]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])
#importante loc para usar filas y columnas y iloc para la posiciÃ³n

                 Open       High        Low      Close
Date
2016-03-31  25.289809  25.331298  25.096193  25.121548
2016-04-30  21.664134  21.832395  21.323003  21.606510
2016-05-31  23.096980  23.282499  22.916101  23.157274
2016-06-30  21.900390  22.208812  21.867924  22.169390

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [109]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close
Date
2016-03-31  25.289809  25.331298  25.096193  25.121548
2016-08-31  24.635016  24.847185  24.630352  24.737602
2016-09-30  26.220455  26.432626  26.066575  26.358017
2016-10-31  26.497914  26.633144  26.392994  26.472267
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498

In [135]:
#
open_high = aapl_bar[aapl_bar['High'] > aapl_bar['Open']]
print(open_high.dropna())

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [110]:
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [111]:
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [112]:
print(missing[missing.rate_return == True])

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [113]:
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203     0.000000
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [114]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [115]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.105268
2016-02-29    3.103979
2016-03-31    3.223726
2016-04-30    3.072995
2016-05-31    3.142309
2016-06-30    3.098712
2016-07-31    3.184948
2016-08-31    3.208324
2016-09-30    3.271772
2016-10-31    3.276098
2016-11-30    3.254260
2016-12-31    3.301101
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN   3.105268
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288   3.103979
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211   3.223726
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921   3.072995
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773   3.142309
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660   3.098712
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063   3.184948
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652   3.208324
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504   3.271772
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335   3.276098
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601   3.254260
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955   3.301101

We can also join two DataFrames by rows. Consider these two DataFrames:

In [116]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497914  26.633144  26.392994  26.472267
2016-11-30  26.153536  26.294146  25.841849  25.900436
2016-12-31  27.337010  27.465901  27.051101  27.142498
2017-01-31  28.391584  28.447828  28.267379  28.438454
2017-02-28  32.264072  32.348804  32.174631  32.242889
2017-03-31  33.826908  33.956360  33.659796  33.812786
2017-04-30  33.913991  33.963419  33.720992  33.810429

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [117]:
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [118]:
#no sabÃ­a que podÃ­as usar joins de sql para hacer concat, estÃ¡ bastante Ãºtil
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [119]:
append = aapl_bar.append(df_2017)
print(append)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2016-10-31  26.497914  26.633144  26.392994  26.472267          NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436          NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498          NaN
2017-01-31  28.391584  28.447828  28.267379  28.438454          NaN
2017-02-28  32.264072  32.348804  32.174631  32.242889          NaN
2017-03-31  33.826908  33.956360  33.659796  33.812786          NaN
2017-04-30  33.913991  33.963419  33.720992  33.810429          NaN

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [120]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955
2016-10-31  26.497914  26.633144  26.392994  26.472267          NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436          NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498          NaN
2017-01-31  28.391584  28.447828  28.267379  28.438454          NaN
2017-02-28  32.264072  32.348804  32.174631  32.242889          NaN
2017-03-31  33.826908  33.956360  33.659796  33.812786          NaN
2017-04-30  33.913991  33.963419  33.720992  33.810429          NaN

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [121]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return     Change
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN        NaN
2016-02-29  22.325646  22.641424  22.277243  22.286463    -0.001288        NaN
2016-03-31  25.289809  25.331298  25.096193  25.121548     0.127211        NaN
2016-04-30  21.664134  21.832395  21.323003  21.606510    -0.139921        NaN
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773        NaN
2016-06-30  21.900390  22.208812  21.867924  22.169390    -0.042660        NaN
2016-07-31  24.161388  24.244871  24.043120  24.166025     0.090063        NaN
2016-08-31  24.635016  24.847185  24.630352  24.737602     0.023652        NaN
2016-09-30  26.220455  26.432626  26.066575  26.358017     0.065504        NaN
2016-10-31  26.497914  26.633144  26.392994  26.472267     0.004335        NaN
2016-11-30  26.153536  26.294146  25.841849  25.900436    -0.021601        NaN
2016-12-31  27.337010  27.465901  27.051101  27.142498     0.047955        NaN
2016-10-31        NaN  26.633144  26.392994  26.472267          NaN  26.497914
2016-11-30        NaN  26.294146  25.841849  25.900436          NaN  26.153536
2016-12-31        NaN  27.465901  27.051101  27.142498          NaN  27.337010
2017-01-31        NaN  28.447828  28.267379  28.438454          NaN  28.391584
2017-02-28        NaN  32.348804  32.174631  32.242889          NaN  32.264072
2017-03-31        NaN  33.956360  33.659796  33.812786          NaN  33.826908
2017-04-30        NaN  33.963419  33.720992  33.810429          NaN  33.913991

In [136]:
# aquÃ­ el join inner elimina las columnnas que no tienen algo en comÃºn
print(pd.concat([aapl_bar, df_2017], axis = 0, join ="inner"))

                 High        Low      Close
Date
2016-01-31  22.315203  21.629745  22.315203
2016-02-29  22.641424  22.277243  22.286463
2016-03-31  25.331298  25.096193  25.121548
2016-04-30  21.832395  21.323003  21.606510
2016-05-31  23.282499  22.916101  23.157274
2016-06-30  22.208812  21.867924  22.169390
2016-07-31  24.244871  24.043120  24.166025
2016-08-31  24.847185  24.630352  24.737602
2016-09-30  26.432626  26.066575  26.358017
2016-10-31  26.633144  26.392994  26.472267
2016-11-30  26.294146  25.841849  25.900436
2016-12-31  27.465901  27.051101  27.142498
2016-10-31  26.633144  26.392994  26.472267
2016-11-30  26.294146  25.841849  25.900436
2016-12-31  27.465901  27.051101  27.142498
2017-01-31  28.447828  28.267379  28.438454
2017-02-28  32.348804  32.174631  32.242889
2017-03-31  33.956360  33.659796  33.812786
2017-04-30  33.963419  33.720992  33.810429

Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.